{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cтраница Приветствия {% trans_default_domain 'FOSUserBundle' %}</h3>
            </div>
            <div class="panel-body">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
